body {
  background-color: blanchedalmond;
  color: navy;
}
h1 {
  text-align: center;
  font-size: 82px;
}
h2 {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  color: navy;
  margin: 0 10px;
}
